<form class="formulario">
    
        <h1>Recuperar contraseña</h1>
         <div class="contenedor">
         
         
            
             <div class="input-contenedor">
                
             <input type="text" placeholder="Correo Electronico">
             
             </div>
             
             
             <input type="submit" value="Enviar" class="button">
             
             <p>Iniciar Sesion <a routerLink="/inicio">Login</a></p>
             
         </div>
        </form>

