<div style="width: 100%; margin-top: 12px;">
    <p-carousel headerText="Frutas y verduras" [value]="cars" [numVisible]="1" responsive="true">
        <ng-template let-car pTemplate="item">
            <div class="ui-grid ui-grid-responsive container">
                <div style="text-align: center; width: 100vw">
                    <div class="col-lg-12" ><img src="/src/assets/img/1.jpg" width="100%"></div>
                    <div class="col-lg-12">
                      <div style="text-align: center">
                        <h4>Produccto</h4>
                        <h3>$50.00</h3>
                      </div>
                    </div>
                </div>
            </div>
            
        </ng-template>
    </p-carousel>
</div>
<div style="width: 100%; margin-top: 12px;">
    <p-carousel headerText="Lacteos" [value]="cars" [numVisible]="1" responsive="true">
        <ng-template let-car pTemplate="item">
            <div class="ui-grid ui-grid-responsive container">
                <div style="text-align: center; width: 100vw">
                    <div class="col-lg-12" ><img src="/src/assets/img/1.jpg" width="100%"></div>
                    <div class="col-lg-12">
                      <div style="text-align: center">
                        <h4>Produccto</h4>
                        <h3>$50.00</h3>
                      </div>
                    </div>
                </div>
            </div>
            
        </ng-template>
    </p-carousel>
</div>
<div style="width: 100%; margin-top: 12px;">
    <p-carousel headerText="Farmacia" [value]="cars" [numVisible]="1" responsive="true">
        <ng-template let-car pTemplate="item">
            <div class="ui-grid ui-grid-responsive container">
                <div style="text-align: center; width: 100vw">
                    <div class="col-lg-12" ><img src="/src/assets/img/1.jpg" width="100%"></div>
                    <div class="col-lg-12">
                      <div style="text-align: center">
                        <h4>Produccto</h4>
                        <h3>$50.00</h3>
                      </div>
                    </div>
                </div>
            </div>
            
        </ng-template>
    </p-carousel>
</div>


