<app-menu></app-menu>
<div style="margin-top: 2px" ></div>
<p-galleria [images]="images" [showCaption]="false" panelWidth="ancho" autoPlay="true" panelHeight="233" [showCaption]="true"></p-galleria>
<div style="width: 100%; text-align: center; margin-top: 12px" >
    <button pButton style="font-size: 1.5em;margin-left: 10px; margin-right: 10px;border-radius: 50%;" type="button" icon="pi pi-clock" class="ui-button-rounded ui-button-secondary"></button>
    <button pButton style="font-size: 1.5em;margin-right: 10px;margin-left: 10px;border-radius: 50%;" type="button" icon="pi pi-dollar" class="ui-button-rounded ui-button-secondary"></button>
    <button pButton style="font-size: 1.5em;margin-right: 10px;margin-left: 10px;border-radius: 50%;" type="button" icon="pi pi-money-bill" class="ui-button-rounded ui-button-secondary"></button>
    <button pButton style="font-size: 1.5em;margin-right: 10px;margin-left: 10px;border-radius: 50%;" type="button" icon="fa fa-truck" class="ui-button-rounded ui-button-secondary"></button>
</div>
<app-produtos></app-produtos>
<app-footer></app-footer>